{% extends 'base.html.twig' %}

{% block title %}PHC{% endblock %}

{% block body %}
    <br/>
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a class="normal">{{ routes[0] }}</a>
        </li>
        <li class="breadcrumb-item">
            <a class="normal">{{ routes[1] }}</a>
        </li>
        <li class="breadcrumb-item activo">{{ routes[2] }}</li>
    </ol>
    {% if is_granted('ROLE_ADMIN') %}
        <a style="font-weight: bold; font-size: 20px; font-family: 'Segoe UI', Arial, sans-serif;vertical-align:middle" class="btn button bg-primary-angular" href="{{ path('phc_new') }}"><span><i class="fa fa-fw fa-file-o"></i>Nuevo</span></a>
    {% endif %}
    <a style="font-weight: bold; font-size: 20px; font-family: 'Segoe UI', Arial, sans-serif;vertical-align:middle" class="btn button bg-accent" href="{{ path('phc_download_pdf') }}"><span><i class="fa fa-fw fa-file-pdf-o"></i>Reporte</span></a>
    <a style="font-weight: bold; font-size: 20px; font-family: 'Segoe UI', Arial, sans-serif;vertical-align:middle" class="btn button bg-word" href="{{ path('phc_to_word') }}"><span><i class="fa fa-fw fa-file-word-o"></i>MS Word</span></a>
    <a style="font-weight: bold; font-size: 20px; font-family: 'Segoe UI', Arial, sans-serif;vertical-align:middle" class="btn button btn-secondary" href="{{ path('homepage') }}"><span><i class="fa fa-fw fa-home"></i>Home</span></a>
    <hr/>
    <form method="post" action="{{ path('phc_filter') }}">
        <div class="form-group">
            <button style="margin-top: 28px;" type="submit" class="btn btn-success">
                <i class="fa fa-fw fa-filter"></i>&nbsp;Filtrar</button>
            <div style="width: 40%;float: left;">
                <label><b>Entidades</b></label>
                <select name="filtrar_ent" class="form-control" style="width: 91%;">
                    <option value="todas">Todas</option>
                    {% for a in entidades %}
                        <option value="{{ a.id }}">{{ a.nombre }}</option>
                    {% endfor %}
                </select>
            </div>
            <div style="width: 40%;float: left;">
                <label><b>Municipios</b></label>
                <select name="filtrar_mun" class="form-control" style="width: 91%;">
                    <option value="todos">Todos</option>
                    {% for a in municipios %}
                        <option value="{{ a.id }}">{{ a.nombre }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </form>
    <hr/>

    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-fw fa-table"></i> Todos los Presuntos Hechos de Corrupci&oacute;n Administrativa (P.H.C.)
        </div>
        <div class="card-body">
            <br/>
            <div class="table-responsive" style="font-size: 15px;">
                <table class="table table-hover" id="dataTable" width="100%" cellspacing="0" align="center" style="text-align: center;">
                    <thead>
                        <tr class="blue-grey">
                            {% if is_granted('ROLE_ADMIN') %}
                                <th>Id</th>
                            {% endif %}
                            <th>&numero;</th>
                            <th>Categor&iacute;a</th>
                            <th>Municipio</th>
                            <th>Fuente</th>
                            <th>Fecha de detecci&oacute;n</th>
                            <th>Fecha de ocurrencia</th>
                            <th><i class="fa fa-fw fa-cogs"></i> Acciones</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr class="blue-grey">
                            {% if is_granted('ROLE_ADMIN') %}
                                <th>Id</th>
                            {% endif %}
                            <th>&numero;</th>
                            <th>Categor&iacute;a</th>
                            <th>Municipio</th>
                            <th>Fuente</th>
                            <th>Fecha de detecci&oacute;n</th>
                            <th>Fecha de ocurrencia</th>
                            <th><i class="fa fa-fw fa-cogs"></i> Acciones</th>
                        </tr>
                    </tfoot>
                    <tbody>
                    {% for phc in phcs if phc.activo==1 or is_granted('ROLE_ADMIN') %}
                        <tr>
                            {% if is_granted('ROLE_ADMIN') %}
                                <td{% if phc.activo==0 %} class="admin-disabled" {% endif %}>
                                    <a href="{{ path('phc_show', { 'id': phc.id }) }}">{{ phc.id }}</a>
                                </td>
                                <td{% if phc.activo==0 %} class="admin-disabled" {% endif %}>{{ phc.numero }}</td>
                            {% else %}
                                <td{% if phc.activo==0 %} class="admin-disabled" {% endif %}>
                                    <a href="{{ path('phc_show', { 'id': phc.id }) }}">{{ phc.numero }}</a>
                                </td>
                            {% endif %}
                            <td{% if phc.activo==0 %} class="admin-disabled" {% endif %}>{{ phc.categoria }}</td>
                            <td{% if phc.activo==0 %} class="admin-disabled" {% endif %}>{{ phc.municipio.nombre }}</td>
                            <td{% if phc.activo==0 %} class="admin-disabled" {% endif %}>{{ phc.fuente }}</td>
                            <td{% if phc.activo==0 %} class="admin-disabled" {% endif %}>{{ phc.fechaDeteccion ? phc.fechaDeteccion|date('Y-m-d') : '' }}</td>
                            <td{% if phc.activo==0 %} class="admin-disabled" {% endif %}>{{ phc.fechaOcurrencia ? phc.fechaOcurrencia|date('Y-m-d') : '' }}</td>
                            <td>
                                <a class="btn btn-sm blue-grey" href="{{ path('phc_show', { 'id': phc.id }) }}"><i class="fa fa-fw fa-eye"></i> Ver</a>
                                {% if is_granted('ROLE_ADMIN') %}
                                    {% if phc.activo==0 %}
                                        &nbsp;<a class="btn btn-sm bg-primary-angular" href="{{ path('phc_activate', {'id': phc.id}) }}"><i class="fa fa-fw fa-unlock-alt"></i> Activar</a>
                                    {% else %}
                                        &nbsp;<a class="btn btn-sm blue-grey" href="{{ path('phc_edit', { 'id': phc.id }) }}"><i class="fa fa-fw fa-pencil-square-o"></i> Editar</a>
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="15">No se encontr&oacute; ning&uacute;n registro</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {{ include('admin/success.html.twig') }}
{% endblock %}
