{% extends 'base.html.twig' %}

{% block title %}Responsabilidades{% endblock %}

{% block body %}
    <br/>
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a class="normal">{{ routes[0] }}</a>
        </li>
        <li class="breadcrumb-item">
            <a class="normal">{{ routes[1] }}</a>
        </li>
        <li class="breadcrumb-item activo">{{ routes[2] }}</li>
    </ol>
    {% if is_granted('ROLE_ADMIN') %}
        <a style="font-weight: bold; font-size: 20px; font-family: 'Segoe UI', Arial, sans-serif;" class="btn button bg-primary-angular" href="{{ path('responsabilidad_new') }}"><span><i class="fa fa-fw fa-file-o"></i>Nueva</span></a>
    {% endif %}
    <a style="font-weight: bold; font-size: 20px; font-family: 'Segoe UI', Arial, sans-serif;vertical-align:middle" class="btn button btn-secondary" href="{{ path('homepage') }}"><span><i class="fa fa-fw fa-home"></i>Home</span></a>
    <br/><br/>

    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-fw fa-table"></i> Responsabilidades
        </div>
        <div class="card-body">
            <br/>
            <div class="table-responsive" style="font-size: 15px;">
                <table class="table {#table-bordered table-striped #}table-hover" id="dataTable" width="100%" cellspacing="0" align="center" style="text-align: center;">
                    <thead>
                        <tr class="blue-grey">
                            {% if is_granted('ROLE_ADMIN') %}
                                <th>Id</th>
                            {% endif %}
                            <th>Medida disciplinaria</th>
                            <th>Implicado</th>
                            <th>Total de medidas</th>
                            <th>Medidas pendientes</th>
                            <th><i class="fa fa-fw fa-cogs"></i> Acciones</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr class="blue-grey">
                            {% if is_granted('ROLE_ADMIN') %}
                                <th>Id</th>
                            {% endif %}
                            <th>Medida disciplinaria</th>
                            <th>Implicado</th>
                            <th>Total de medidas</th>
                            <th>Medidas pendientes</th>
                            <th><i class="fa fa-fw fa-cogs"></i> Acciones</th>
                        </tr>
                    </tfoot>
                    <tbody>
                    {% for responsabilidad in responsabilidads if responsabilidad.activo==1 or is_granted('ROLE_ADMIN') %}
                        <tr>
                            {% if is_granted('ROLE_ADMIN') %}
                                <td{% if responsabilidad.activo==0 %} class="admin-disabled" {% endif %}>
                                    <a href="{{ path('responsabilidad_show', { 'id': responsabilidad.id }) }}">{{ responsabilidad.id }}</a>
                                </td>
                                <td{% if responsabilidad.activo==0 %} class="admin-disabled" {% endif %}>{{ responsabilidad.medidaDisciplinaria.nombre }}</td>
                            {% else %}
                                <td{% if responsabilidad.activo==0 %} class="admin-disabled" {% endif %}>
                                    <a href="{{ path('responsabilidad_show', { 'id': responsabilidad.id }) }}">{{ responsabilidad.medidaDisciplinaria.nombre }}</a>
                                </td>
                            {% endif %}
                            <td{% if responsabilidad.activo==0 %} class="admin-disabled" {% endif %}>{{ responsabilidad.implicado.nombre }}</td>
                            <td{% if responsabilidad.activo==0 %} class="admin-disabled" {% endif %}>{{ responsabilidad.medidasTotal ? responsabilidad.medidasTotal : '-' }}</td>
                            <td{% if responsabilidad.activo==0 %} class="admin-disabled" {% endif %}>{{ responsabilidad.medidasPendientes ? responsabilidad.medidasPendientes : '-' }}</td>
                            <td>
                                <a class="btn btn-sm blue-grey" href="{{ path('responsabilidad_show', { 'id': responsabilidad.id }) }}"><i class="fa fa-fw fa-eye"></i> Ver</a>
                                {% if is_granted('ROLE_ADMIN') %}
                                    {% if responsabilidad.activo==0 %}
                                        &nbsp;<a class="btn btn-sm bg-primary-angular" href="{{ path('responsabilidad_activate', {'id': responsabilidad.id}) }}"><i class="fa fa-fw fa-unlock-alt"></i> Activar</a>
                                    {% else %}
                                        &nbsp;<a class="btn btn-sm blue-grey" href="{{ path('responsabilidad_edit', { 'id': responsabilidad.id }) }}"><i class="fa fa-fw fa-pencil-square-o"></i> Editar</a>
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6">No se encontr&oacute; ning&uacute;n registro</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {{ include('admin/success.html.twig') }}
{% endblock %}
