{% extends 'base.html.twig' %}

{% block title %}Ver P.H.D. &numero;{{ phd.numeroExpediente }}{% endblock %}

{% block body %}
    <br/>
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">{{ routes[0] }}</li>
        <li class="breadcrumb-item">{{ routes[1] }}</li>
        <li class="breadcrumb-item">
            <a class="normal" href="{{ path('phd_index') }}">{{ routes[2] }}</a>
        </li>
        <li class="breadcrumb-item activo">{{ routes[3] }}</li>
    </ol>
    <h1>P.H.D.</h1>
    {{ include('admin/errors.html.twig') }}
    <table class="table table-hover">
        <tbody>
        {% if is_granted('ROLE_ADMIN') %}
            <tr>
                <th>Id</th>
                <td>{{ phd.id }}</td>
            </tr>
        {% endif %}
            <tr>
                <th>Unidad organizativa</th>
                <td>{{ phd.unidadOrganizativa }}</td>
            </tr>
            <tr class="{% if phd.accionControl %}visible{% else %}collapse{% endif %}">
                <th>Orden de trabajo</th>
                <td>{{ phd.accionControl ? phd.accionControl.ordenTrabajo : '-' }}</td>
            </tr>
            <tr>
                <th>Fecha de detecci&oacute;n</th>
                <td>{{ phd.fecha ? phd.fecha|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>N&uacute;mero de expediente</th>
                <td>{{ phd.numeroExpediente }}</td>
            </tr>
            <tr>
                <th>N&uacute;mero de causa</th>
                <td>{{ phd.numeroCausa }}</td>
            </tr>
            <tr>
                <th>Da&ntilde;o Econ&oacute;mico en CUP</th>
                <td>{{ phd.danoEconomicoCup ? phd.danoEconomicoCup : '-' }}</td>
            </tr>
            <tr>
                <th>Da&ntilde;o Econ&oacute;mico en otra moneda</th>
                <td>{{ phd.danoEconomicoOtraMoneda ? phd.danoEconomicoOtraMoneda : '-' }}</td>
            </tr>
            <tr>
                <th>Entidad</th>
                <td>{{ phd.entidad.nombre }}</td>
            </tr>
            <tr>
                <th>Situaci&oacute;n</th>
                <td>{{ phd.situacion.nombre }}</td>
            </tr>
            <tr>
                <th>Tipo de acci&oacute;n</th>
                <td>{{ phd.tipoAccion.nombre }}</td>
            </tr>
            <tr>
                <th>Causa&nbsp;&frasl;&nbsp;Condici&oacute;n</th>
                <td>{{ phd.causaCondicion.nombre }}</td>
            </tr>
            <tr>
                <th>Implicados</th>
                <td>
                    {{ phd.allImplicados|join(', ') }}
                {#{% for implicado in phd.implicados %}
                    {{ implicado.nombre|join(', ') }}
                {% endfor %}#}
                </td>
            </tr>
            <tr>
                <th>Sintesis</th>
                <td>{{ phd.sintesis }}</td>
            </tr>
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') and phd.activo==1 %}
        <a href="{{ path('phd_edit', { 'id': phd.id }) }}"
           class="btn btn-warning text-white btn-block"><i class="fa fa-fw fa-edit"></i>&nbsp;Editar</a>
        {{ include('phd/_delete_form.html.twig') }}
    {% endif %}
    <button onclick="goBack()" class="btn btn-secondary btn-block text-white">Atr&aacute;s</button>
{% endblock %}