{% extends 'base.html.twig' %}

{% block title %}Ver {{ osde.nombre }}{% endblock %}

{% block body %}
    <br/>
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">{{ routes[0] }}</li>
        <li class="breadcrumb-item">
            <a class="normal" href="{{ path('osde_index') }}">{{ routes[1] }}</a>
        </li>
        <li class="breadcrumb-item activo">{{ routes[2] }}</li>
    </ol>
    <h1>Osde</h1>
    {{ include('admin/errors.html.twig') }}
    <table class="table table-hover">
        <tbody>
        {% if is_granted('ROLE_ADMIN') %}
            <tr>
                <th>Id</th>
                <td>{{ osde.id }}</td>
            </tr>
        {% endif %}
            <tr>
                <th>Nombre</th>
                <td>{{ osde.nombre }}</td>
            </tr>
            <tr>
                <th>Organismo</th>
                <td>{{ osde.organismo.nombre }}</td>
            </tr>
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') and osde.activo==1 %}
        <a href="{{ path('osde_edit', { 'id': osde.id }) }}"
           class="btn btn-warning text-white btn-block"><i class="fa fa-fw fa-edit"></i>&nbsp;Editar</a>
        {{ include('osde/_delete_form.html.twig') }}
    {% endif %}
    <button onclick="goBack()" class="btn btn-secondary btn-block text-white">Atr&aacute;s</button>
{% endblock %}