{% extends 'base.html.twig' %}

{% block title %}Implicados{% endblock %}

{% block body %}
    <br/>
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a class="normal">{{ routes[0] }}</a>
        </li>
        <li class="breadcrumb-item">
            <a class="normal">{{ routes[1] }}</a>
        </li>
        <li class="breadcrumb-item activo">{{ routes[2] }}</li>
    </ol>
    {% if is_granted('ROLE_ADMIN') %}
        <a style="font-weight: bold; font-size: 20px; font-family: 'Segoe UI', Arial, sans-serif;" class="btn button bg-primary-angular" href="{{ path('implicado_new') }}"><span><i class="fa fa-fw fa-file-o"></i>Nuevo</span></a>
    {% endif %}
    <a style="font-weight: bold; font-size: 20px; font-family: 'Segoe UI', Arial, sans-serif;vertical-align:middle" class="btn button btn-secondary" href="{{ path('homepage') }}"><span><i class="fa fa-fw fa-home"></i>Home</span></a>
    <br/><br/>
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-fw fa-table"></i> Implicados
        </div>
        <div class="card-body">
            <br/>
            <div class="table-responsive" style="font-size: 15px;">
                <table class="table table-hover" id="dataTable" width="100%" cellspacing="0" align="center" style="text-align: center;">
                    <thead>
                        <tr class="blue-grey">
                            {% if is_granted('ROLE_ADMIN') %}
                                <th>Id</th>
                            {% endif %}
                            <th>Nombre</th>
                            <th>Sexo</th>
                            <th>Edad</th>
                            <th>Cargo</th>
                            <th>Categor&iacute;a ocupacional</th>
                            <th>Escolaridad</th>
                            <th>Niv. Direcc.</th>
                            <th colspan="2" class="text-center">
                                Militancia<hr style="margin: 8px;"/>
                                <span style="text-align: left; padding-right: 15px; font-size: 12px;">PCC</span>
                                <span style="font-size: 12px;">UJC</span>
                            </th>
                            <th><i class="fa fa-fw fa-cogs"></i> Acciones</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr class="blue-grey">
                            {% if is_granted('ROLE_ADMIN') %}
                                <th>Id</th>
                            {% endif %}
                            <th>Nombre</th>
                            <th>Sexo</th>
                            <th>Edad</th>
                            <th>Cargo</th>
                            <th>Categor&iacute;a ocupacional</th>
                            <th>Escolaridad</th>
                            <th>Niv. Direcc.</th>
                            <th colspan="2" class="text-center">
                                <span style="text-align: left; padding-right: 15px; font-size: 12px;">PCC</span>
                                <span style="font-size: 12px;">UJC</span>
                                <hr style="margin: 8px;"/>
                                Militancia
                            </th>
                            <th><i class="fa fa-fw fa-cogs"></i> Acciones</th>
                        </tr>
                    </tfoot>
                    <tbody>
                    {% for implicado in implicados if implicado.activo==1 or is_granted('ROLE_ADMIN') %}
                        <tr>
                            {% if is_granted('ROLE_ADMIN') %}
                                <td{% if implicado.activo==0 %} class="admin-disabled" {% endif %}>
                                    <a href="{{ path('implicado_show', { 'id': implicado.id }) }}">{{ implicado.id }}</a>
                                </td>
                                <td{% if implicado.activo==0 %} class="admin-disabled" {% endif %}>{{ implicado.nombre }}</td>
                            {% else %}
                                <td{% if implicado.activo==0 %} class="admin-disabled" {% endif %}>
                                    <a href="{{ path('implicado_show', { 'id': implicado.id }) }}">{{ implicado.nombre }}</a>
                                </td>
                            {% endif %}
                            <td{% if implicado.activo==0 %} class="admin-disabled" {% endif %}>{{ implicado.sexo ? implicado.sexo : '-'}}</td>
                            <td{% if implicado.activo==0 %} class="admin-disabled" {% endif %}>{{ implicado.edad ? implicado.edad : '-' }}</td>
                            <td{% if implicado.activo==0 %} class="admin-disabled" {% endif %}>{{ implicado.cargo }}</td>
                            <td{% if implicado.activo==0 %} class="admin-disabled" {% endif %}>{{ implicado.categoriaOcupacional }}</td>
                            <td{% if implicado.activo==0 %} class="admin-disabled" {% endif %}>{{ implicado.escolaridad }}</td>
                            <td{% if implicado.activo==0 %} class="admin-disabled" {% endif %}>{{ implicado.nivelDireccion ? implicado.nivelDireccion : '-' }}</td>
                            <td{% if implicado.activo==0 %} class="admin-disabled" {% endif %}>{{ implicado.pcc ? '<i class="fa fa-fw fa-check-square-o"></i>' : '<i class="fa fa-fw fa-square-o"></i>' }}</td>
                            <td{% if implicado.activo==0 %} class="admin-disabled" {% endif %}>{{ implicado.ujc ? '<i class="fa fa-fw fa-check-square-o"></i>' : '<i class="fa fa-fw fa-square-o"></i>' }}</td>
                            <td>
                                <a class="btn btn-sm blue-grey" href="{{ path('implicado_show', { 'id': implicado.id }) }}"><i class="fa fa-fw fa-eye"></i> Ver</a>
                                {% if is_granted('ROLE_ADMIN') %}
                                    {% if implicado.activo==0 %}
                                        &nbsp;<a class="btn btn-sm bg-primary-angular" href="{{ path('implicado_activate', {'id': implicado.id}) }}"><i class="fa fa-fw fa-unlock-alt"></i> Activar</a>
                                    {% else %}
                                        &nbsp;<a class="btn btn-sm blue-grey" href="{{ path('implicado_edit', { 'id': implicado.id }) }}"><i class="fa fa-fw fa-pencil-square-o"></i> Editar</a>
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6">No se encontr&oacute; ning&uacute;n registro</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {{ include('admin/success.html.twig') }}
{% endblock %}