{% extends 'base.html.twig' %}

{% block title %}Logs{% endblock %}

{% block body %}
    <br/>
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item activo">{{ routes[0] }}</li>
    </ol>
    <a href="{{ path('log_safe') }}" style="font-weight: bold; font-size: 20px; font-family: 'Segoe UI', Arial, sans-serif;vertical-align:middle" class="btn button bg-primary-angular"><span>Salvar logs</span></a>
    <a style="font-weight: bold; font-size: 20px; font-family: 'Segoe UI', Arial, sans-serif;vertical-align:middle" class="btn button bg-accent" href="{{ path('log_clean') }}"><span>Limpiar logs</span></a>
    <br/><br/>
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-fw fa-table"></i> Todos los Logs
        </div>
        <div class="card-body">
            <div class="table-responsive" style="font-size: 15px;">
                <table class="table {#table-bordered table-striped #}table-hover" id="dataTable" width="100%" cellspacing="0" align="center" style="text-align: center;">
                    <thead>
                    <tr class="blue-grey">
                        <th>Id</th>
                        <th>Fecha</th>
                        <th>Usuario</th>
                        <th>Direcci&oacute;n IP</th>
                        <th>Acci&oacute;n</th>
                        <th><i class="fa fa-fw fa-cogs"></i> Acciones</th>
                    </tr>
                    </thead>
                    {% if logs %}
                        <tfoot>
                        <tr class="blue-grey">
                            <th>Id</th>
                            <th>Fecha</th>
                            <th>Usuario</th>
                            <th>Direcci&oacute;n IP</th>
                            <th>Acci&oacute;n</th>
                            <th><i class="fa fa-fw fa-cogs"></i> Acciones</th>
                        </tr>
                        </tfoot>
                    {% endif %}
                    <tbody>
                    {% for log in logs %}
                        <tr>
                            <td>{{ log.id }}</td>
                            <td>{{ log.fecha ? log.fecha|date('Y-m-d H:i:s') : '' }}</td>
                            <td>{{ log.usuario.username }}</td>
                            <td>{{ log.ip }}</td>
                            <td>{{ log.accion }}</td>
                            <td>
                                <a class="btn btn-sm blue-grey" href="{{ path('log_show', {'id': log.id}) }}"><i class="fa fa-fw fa-eye"></i> Ver</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">No se encontraron registros</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {# read and display just one flash message type #}
    {% for message in app.flashes('notice') %}
        <div class="w3-container w3-section w3-green w3-animate-opacity flash-notice">
            <span onclick="this.parentElement.style.display='none'" class="w3-closebtn">X</span>
            <h3>Success!</h3>
            <p>{{ message }}</p>
        </div>
    {% endfor %}
{% endblock %}
