<div class="slideshow-container" style="margin-top: 50px;">
    <div id="img-m1" class="mySlides facade image-modal">
        <div class="numbertext">
            1 / 5
                                            
                                
                    
        </div>
        <img src="{{ asset('images/1.png') }}" style="width:100%">
            <div class="text">
                <b>
                    Contralor&iacute;a Provincial Matanzas
                                                                            
                                                        
                                    
                </b>
            </div>
        </div>
        <div id="img-m2" class="mySlides facade image-modal">
            <div class="numbertext">
                2 / 5
                                                            
                                            
                            
            </div>
            <img src="{{ asset('images/2.png') }}" style="width:100%">
                <div class="text">
                    <b>
                        Reconocimientos
                                                                                            
                                                                    
                                            
                    </b>
                </div>
            </div>
            <div id="img-m3" class="mySlides facade image-modal">
                <div class="numbertext">
                    3 / 5
                                                                            
                                                        
                                    
                </div>
                <img src="{{ asset('images/3.jpg') }}" style="width:100%">
                    <div class="text">
                        <b>
                            Recepci&oacute;n
                                                                                                            
                                                                                
                                                    
                        </b>
                    </div>
                </div>
                <div id="img-m4" class="mySlides facade image-modal">
                    <div class="numbertext">
                        4 / 5
                                                                                            
                                                                    
                                            
                    </div>
                    <img src="{{ asset('images/4.jpg') }}" style="width:100%">
                        <div class="text">
                            <b>
                                Recepci&oacute;n
                                                                                                                            
                                                                                            
                                                            
                            </b>
                        </div>
                    </div>
                    <div id="img-m5" class="mySlides facade image-modal">
                        <div class="numbertext">
                            5 / 5
                                                                                                            
                                                                                
                                                    
                        </div>
                        <img src="{{ asset('images/5.JPG') }}" style="width:100%">
                            <div class="text">
                                <b>
                                    Valores que defiende
                                                                                                                                            
                                                                                                        
                                                                    
                                </b>
                            </div>
                        </div>
                        <span class="anterior" onclick="plusSlides(-1)">
                            ❮
                                                                                                            
                                                                                
                                                    
                        </span>
                        <span class="siguiente" onclick="plusSlides(1)">
                            ❯
                                                                                                            
                                                                                
                                                    
                        </span>
                    </div>
                    <div style="text-align:center; margin-top: 10px;">
                        <span class="dot" onclick="currentSlide(1)"></span>
                        <span class="dot" onclick="currentSlide(2)"></span>
                        <span class="dot" onclick="currentSlide(3)"></span>
                        <span class="dot" onclick="currentSlide(4)"></span>
                        <span class="dot" onclick="currentSlide(5)"></span>
                    </div>
                    