<div style="width: {{ width|default('381px') }};{{ position|default('') }} margin-top: 5px;" id="{{ id_req|default('req-username') }}" class="collapse alert alert-danger fade in flash{#col-md-5#}">
    <img src="{{ asset('images/exclamation.gif') }}">
    <strong style="font-size: small"> Error! </strong>
    <span id="{{ id_span|default('span-username') }}" style="font-size: small"></span>
</div>