{{ form_start(form) }}
    {% if form_errors(form.nombre) %}
        <div class="alert alert-danger fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Error!</strong>{{ form_errors(form.nombre) }}
        </div>
    {% endif %}
    {% if form_errors(form.categoria) %}
        <div class="alert alert-danger fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Error!</strong>{{ form_errors(form.categoria) }}
        </div>
    {% endif %}
    {% if form_errors(form) %}
        <div class="alert alert-danger fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Error!</strong>{{ form_errors(form) }}
        </div>
    {% endif %}
    <div class="float-right">
        {{ form_row(form.nombre) }}
        {{ include('admin/validation_js.html.twig', {'id_req':'req-nombre', 'id_span':'span-nombre'}) }}
    </div>
    {{ form_row(form.categoria) }}
    {{ include('admin/validation_js.html.twig', {'id_req':'req-categoria', 'id_span':'span-categoria'}) }}
    <br/><br/>
    <button class="btn {{ button_class|default('btn-success') }} btn-block text-white"><i class="fa fa-fw {{ button_fa|default('fa-save') }}"></i>&nbsp;{{ button_label|default('Guardar') }}</button>
{{ form_end(form) }}
<script>
    function validateFields(input) {
        if (input === '1'){
            var spanCat = document.getElementById('span-categoria');
            var inputCat = document.getElementById("medida_disciplinaria_categoria");
            if (inputCat.checkValidity() === false) {
                $('#req-categoria').removeClass('collapse');
                spanCat.innerHTML = inputCat.validationMessage;
                $('#medida_disciplinaria_categoria:invalid').css("border", "1px solid #dc3545");
            }
            else {
                $('#req-categoria').addClass('collapse');
                $('#medida_disciplinaria_categoria').css("border", "1px solid #ced4da");
            }
        }
        if (input === '2'){
            var spanNombre = document.getElementById('span-nombre');
            var inputNombre = document.getElementById("medida_disciplinaria_nombre");
            if (inputNombre.checkValidity() === false) {
                $('#req-nombre').removeClass('collapse');
                spanNombre.innerHTML = inputNombre.validationMessage;
                $('#medida_disciplinaria_nombre:invalid').css("border", "1px solid #dc3545");
            }
            else {
                $('#req-nombre').addClass('collapse');
                $('#medida_disciplinaria_nombre').css("border", "1px solid #ced4da");
            }
        }
    }
</script>
