{% extends 'base.html.twig' %}

{% block title %}Municipios{% endblock %}

{% block body %}
    <br/>
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a class="normal">{{ routes[0] }}</a>
        </li>
        <li class="breadcrumb-item activo">{{ routes[1] }}</li>
    </ol>
    {% if is_granted('ROLE_ADMIN') %}
        <a style="font-weight: bold; font-size: 20px; font-family: 'Segoe UI', Arial, sans-serif;vertical-align:middle" class="btn button bg-primary-angular" href="{{ path('municipio_new') }}"><span><i class="fa fa-fw fa-file-o"></i>Nuevo</span></a>
    {% endif %}
    <a style="font-weight: bold; font-size: 20px; font-family: 'Segoe UI', Arial, sans-serif;vertical-align:middle" class="btn button btn-secondary" href="{{ path('homepage') }}"><span><i class="fa fa-fw fa-home"></i>Home</span></a>
    {#<hr/>
    <h6 class="primary">{{ routes|join(' / ') }}</h6>
    <hr/>#}
    <br/><br/>
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-fw fa-table"></i> Todos los municipios
        </div>
        <div class="card-body">
            <br/>
            <div class="table-responsive" style="font-size: 15px;">
                <table class="table {#table-bordered table-striped #}table-hover" id="dataTable" width="100%" cellspacing="0" align="center" style="text-align: center;">
                    <thead>
                    <tr class="blue-grey">
                        {% if is_granted('ROLE_ADMIN') %}
                            <th>Id</th>
                        {% endif %}
                        <th>Nombre</th>
                        <th><i class="fa fa-fw fa-cogs"></i> Acciones</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr class="blue-grey">
                        {% if is_granted('ROLE_ADMIN') %}
                            <th>Id</th>
                        {% endif %}
                        <th>Nombre</th>
                        <th><i class="fa fa-fw fa-cogs"></i> Acciones</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    {% for municipio in municipios if municipio.activo==1 or is_granted('ROLE_ADMIN') %}
                        <tr>
                            {% if is_granted('ROLE_ADMIN') %}
                                <td{% if municipio.activo==0 %} class="admin-disabled" {% endif %}>
                                    <a href="{{ path('municipio_show', { 'id': municipio.id }) }}">{{ municipio.id }}</a>
                                </td>
                                <td{% if municipio.activo==0 %} class="admin-disabled" {% endif %}>{{ municipio.nombre }}</td>
                            {% else %}
                                <td{% if municipio.activo==0 %} class="admin-disabled" {% endif %}>
                                    <a href="{{ path('municipio_show', { 'id': municipio.id }) }}">{{ municipio.nombre }}</a>
                                </td>
                            {% endif %}
                            <td>
                                <a class="btn btn-sm blue-grey" href="{{ path('municipio_show', { 'id': municipio.id }) }}"><i class="fa fa-fw fa-eye"></i> Ver</a>
                                {% if is_granted('ROLE_ADMIN') %}
                                    {% if municipio.activo==0 %}
                                        &nbsp;<a class="btn btn-sm bg-primary-angular" href="{{ path('municipio_activate', {'id': municipio.id}) }}"><i class="fa fa-fw fa-unlock-alt"></i> Activar</a>
                                    {% else %}
                                        &nbsp;<a class="btn btn-sm blue-grey" href="{{ path('municipio_edit', { 'id': municipio.id }) }}"><i class="fa fa-fw fa-pencil-square-o"></i> Editar</a>
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6">No se encontr&oacute; ning&uacute;n registro</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {{ include('admin/success.html.twig') }}
    {# read and display just one flash message type #}{#
    {% for message in app.flashes('notice') %}
        <div class="w3-container w3-section w3-green w3-animate-opacity flash-notice">
            <span onclick="this.parentElement.style.display='none'" class="w3-closebtn">X</span>
            <h3>Success!</h3>
            <p>{{ message }}</p>
        </div>
    {% endfor %}#}
{% endblock %}
