{% extends 'base.html.twig' %}

{% block title %}Crear nuevo municipio{% endblock %}

{% block body %}
    {#<hr/>
    <h6 class="primary">{{ routes|join(' / ') }}</h6>
    <hr/>#}
    <br/>
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">{{ routes[0] }}</li>
        <li class="breadcrumb-item">
            <a class="normal" href="{{ path('municipio_index') }}">{{ routes[1] }}</a>
        </li>
        <li class="breadcrumb-item activo">{{ routes[2] }}</li>
    </ol>
    <h1>Crear nuevo municipio</h1>
    {{ include('admin/errors.html.twig') }}
    {{ include('municipio/_form.html.twig') }}

    <a href="{{ path('municipio_index') }}" class="btn btn-secondary btn-block" style="margin-top: 5px;">Atr&aacute;s</a>
{% endblock %}
