{% extends 'base.html.twig' %}

{% block title %}Ver {{ municipio.nombre }}{% endblock %}

{% block body %}
    {#<hr/>
    <h6 class="primary">{{ routes|join(' / ') }}</h6>
    <hr/>#}
    <br/>
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">{{ routes[0] }}</li>
        <li class="breadcrumb-item">
            <a class="normal" href="{{ path('municipio_index') }}">{{ routes[1] }}</a>
        </li>
        <li class="breadcrumb-item activo">{{ routes[2] }}</li>
    </ol>
    <h1>Municipio</h1>
    {{ include('admin/errors.html.twig') }}
    <table class="table table-hover">
        <tbody>
        {% if is_granted('ROLE_ADMIN') %}
            <tr>
                <th>Id</th>
                <td>{{ municipio.id }}</td>
            </tr>
        {% endif %}
            <tr>
                <th>Nombre</th>
                <td>{{ municipio.nombre }}</td>
            </tr>
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') and municipio.activo==1 %}
        <a href="{{ path('municipio_edit', { 'id': municipio.id }) }}"
           class="btn btn-warning text-white btn-block"><i class="fa fa-fw fa-edit"></i>&nbsp;Editar</a>
        {{ include('municipio/_delete_form.html.twig') }}
    {% endif %}
    <a href="{{ path('municipio_index') }}" class="btn btn-secondary btn-block">Atr&aacute;s</a>

{% endblock %}
