{% if user.isUser(app.user) %}
    {% extends 'base.html.twig' %}

    {% block title %}Cambiar contrase&ntilde;a{% endblock %}

    {% block body %}
            <br/>
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <li class="breadcrumb-item">
                                <a class="normal" href="{{ path('user_index') }}">{{ routes[0] }}</a>
                        </li>
                {% else %}
                        <li class="breadcrumb-item">{{ routes[0] }}</li>
                {% endif %}
                    <li class="breadcrumb-item activo">{{ routes[1] }}</li>
            </ol>
            <h1>Cambiar contrase&ntilde;a</h1>
            {{ include('admin/errors.html.twig') }}
            {{ include('user/_form.html.twig', {'button_label': 'Actualizar', 'button_class': 'btn-warning', 'button_fa': 'fa-refresh', 'role_visibility': 'collapse', 'field_visibility': 'collapse'}) }}
    {% endblock %}
{% endif %}